AIRTABLE_API_KEY=
PORT=
SECRET_KEY=

# SwiftUI Directory
SWIFTUIDIR_AIRTABLE_BASE_ID=
SWIFTUIDIR_AIRTABLE_RECORD_ID=
SWIFTUIDIR_TWITTER_CONSUMER_KEY=
SWIFTUIDIR_TWITTER_CONSUMER_SECRET=
SWIFTUIDIR_TWITTER_ACCESS_TOKEN_KEY=
SWIFTUIDIR_TWITTER_ACCESS_TOKEN_SECRET=
SWIFTUIDIR_TWITTER_USERNAME=
SWIFTUIDIR_FEED_URL=

# Widegamut
WIDEGAMUT_AIRTABLE_BASE_ID=
WIDEGAMUT_AIRTABLE_RECORD_ID=
WIDEGAMUT_MASTO_ACCESS_TOKEN=
WIDEGAMUT_TWITTER_CONSUMER_KEY=
WIDEGAMUT_TWITTER_CONSUMER_SECRET=
WIDEGAMUT_TWITTER_ACCESS_TOKEN_KEY=
WIDEGAMUT_TWITTER_ACCESS_TOKEN_SECRET=
WIDEGAMUT_TWITTER_USERNAME=
WIDEGAMUT_FEED_URL=
