<!DOCTYPE html>
<html>
  <head>
    <title>SwiftUI.Directory Syndicator</title>
    <meta name="description" content="WideGamut Syndicator">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="info">
        <article>
          <h1>
            SwiftUI.Directory Syndicator
          </h1>
          <p>
            This app is set up using Glitch.
          </p>
        </article>
      </div>
    </div>
  </body>
</html>

